/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI PRIMARIO -*/
    --clr-primary-0: black;

    /*- COLORI SECONDARIO -*/
    --clr-secondary-0: white;



    /*-COLORI BG -*/
    --clr-bg-0: rgb(8, 59, 76);
    --clr-bg-1: rgb(19, 137, 178);
    --clr-bg-2: rgb(11, 214, 161);
    --clr-bg-3: rgb(255, 209, 102);
    --clr-bg-4: rgb(240, 70, 111);

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: .25rem;
    --gutter-sm: .5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

}


/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body{
    font-family: 'rotobo', sans-serif;
    color: var(--colore-testo);
    display: grid;
    place-items: center;
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    gap: var(--gutter-md);
    padding: var(--gutter-md);
    background-color: var(--clr-bg-1);
}

.block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: var(--gutter-md);
    gap: var(--gutter-md);
    background-color: lightcyan;
}

.block > *{
    height: 25px;
    
}
.msg{
    flex-grow: 1;
    line-height: 25px;
}

.btn{ 
    aspect-ratio: 1/1;    
}

.btn-check{
    background-color: lightgray;
    border-radius: 100%;
    color: gray;  
}

.btn--green{
    background-color: green;
}

.text-deco{
    text-decoration: line-through;
}